li.messages {
  font-family:"MuseoSlab700", Tahoma, sans-serif;
  color: white;
  padding: 0.25em 0.5em;
}
li.messages.success {
  background-color: #f90;
/*  background-color: #45ab02; */
}
li.messages.info {
  background-color: #f90;
/*  background-color: #046495; */
}
li.messages.error {
  background-color: #FF2222
/* background-color: #f90; */
}

li.messages a.dismiss {
  float: right;
  color: white;
}